<div class="container">

    <div class="headlineContainer koreanFont">
        <div class="topLine"></div>
        <div class="nameHeadline">
            <div class="name">
                JEHEE HAN&nbsp;&nbsp;PORTFOLIO&nbsp;&nbsp;JEHEE HAN&nbsp;&nbsp;PORTFOLIO&nbsp;&nbsp;JEHEE
                HAN&nbsp;&nbsp;PORTFOLIO&nbsp;&nbsp;JEHEE HAN&nbsp;&nbsp;PORTFOLIO&nbsp;&nbsp;
            </div>
            <div class="name-two">
                JEHEE HAN&nbsp;&nbsp;PORTFOLIO&nbsp;&nbsp;JEHEE HAN&nbsp;&nbsp;PORTFOLIO&nbsp;&nbsp;JEHEE
                HAN&nbsp;&nbsp;PORTFOLIO&nbsp;&nbsp;JEHEE HAN&nbsp;&nbsp;PORTFOLIO&nbsp;&nbsp;
            </div>
        </div>
        <div class="botLine"></div>

        <!-- 27b56719b -->
        <!-- <div class="nameHeadlineKor">한재희</div> -->
        <!-- <a class="navHeadline" (click)="navigator('/websites')" >WEBSITES</a>
        <a class="navHeadline" (click)="navigator('/program')">PROGRAMING</a>

        <div class="spaceLine"></div>

        <a class="navHeadline" (click)="navigator('/sound')">MUSIK / SOUND</a>
        <a class="navHeadline" (click)="navigator('/photos')">DIGITAL FOTOS</a>
        <a class="navHeadline" (click)="navigator('/art')">ART</a>
        <a class="navHeadline" (click)="navigator('/program')">ABOUT</a>
        <a class="navHeadline" (click)="navigator('/contact')">CONTACT</a> -->
    </div>

    <div class="verticalLine">
        <div class="nameHeadlineDD koreanFont">
        <div class="nameDD">
            한<br/>재<br/>희<br/><br/>한<br/>재<br/>희<br/><br/>한<br/>재<br/>희<br/><br/>한<br/>재<br/>희<br/><br/>한<br/>재<br/>희<br/><br/>한<br/>재<br/>희<br/><br/>
        </div>
        <div class="nameDDD">
            한<br/>재<br/>희<br/><br/>한<br/>재<br/>희<br/><br/>한<br/>재<br/>희<br/><br/>한<br/>재<br/>희<br/><br/>한<br/>재<br/>희<br/><br/>한<br/>재<br/>희<br/><br/>
        </div>
    </div>
</div>


<div class="showcasePicContainer">
    <div class="centerNameContainer">
        <div class="centerNameDe koreanFont">
            JEHEE HAN
        </div>
        <!-- <div class="centerNameDe">
                    한재희
                </div> -->
    </div>
</div>
<img class="showcasePic" src="../../assets/Untitled-1.png" alt="" draggable="false">

<div class="content">
    <a href="/websites">
        <h1>WEBSEITEN</h1>s
    </a>
    <app-websites></app-websites>
    <h1>Programmierung</h1>
    <app-programming></app-programming>
</div>


</div>